*{
    box-sizing: border-box; /** border-box= diminui o valor numérico do conteúdo*/

}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;      /** space-between= espaçamento somente entre as colunas*/
    margin:0;
    background-color: beige;
}
header,footer{
    height: 70px;
}
header{
    background-color: rgb(194, 247, 178);
}
header {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main{
    height: calc(100vh - 150px);  /** 100vh= altura da tela*/
    display: flex;
    /**flex-wrap: wrap; /** o wrap quebra a linha assim que não puder mais ser compactado**/
    /**justify-content: space-around;  /** space-around: espaçamento entre os lados e ao redor*/
    padding: 10px 0;    /** o 0 é a medida para os lados**/
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

main div{
    width: 30%;  /** usado % devido o alinhemento do elemento em relação ao elemento pai*/
    /** cada coluna ocupa 30% da tela, ou seja, 90% da tela está ocupada*/
    background-color: rgb(149, 237, 162);
    height: 100%;
}

div h2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-style: initial;
}

div h3{
    font-size: medium;
}

div a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coluna1{
    line-height: 180%;
}
img{
    width: 40%;
    height: 40%;
}
   
@media(max-width:768px){  /** definição do valor do dispositivo para o design responsivo, o 768px é em média para um tablet e apresentará na tela duas colunas e outra em baixo .**/
    main {
        height: auto;
    }
    main div{  
       width:45%; /** valor que a coluna irá ocupar **/
       height: 100vh;
    }   
}

@media(max-width: 576px){ /** valor aproximadamente para um celular, apresentará 1 coluna abaixo da outra**/
   
    main div{
        width: 98%;
    }
}

footer{ 
    background-color: rgb(194, 247, 178);    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem
}